<!DOCTYPE html>
<script>
setInterval(() => {
  http.get('http://roblox-to-discord.herokuapp.com');
}, 900000);
</script>
<html>
<head>
<title>R2D Website</title>
</head>

<body>
The content of the document......
</body>

</html>